@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 221.2 83.2% 53.3%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --tertiary: 327 64% 97%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 221.2 83.2% 53.3%;
    --radius: 0.5rem;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;

    --fill-name-logo: #2662ec;
    --delayAnimation: 0.5s;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    --primary: 217.2 91.2% 59.8%;
    --primary-foreground: 222.2 47.4% 11.2%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 224.3 76.3% 48%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;

    --fill-name-logo: #2662ec;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.h1 {
  @apply text-6xl xl:text-[72px] xl:leading-[80px] tracking-[2px] font-bold;
}

.h2 {
  @apply text-4xl font-bold;
}

.h3 {
  @apply text-3xl font-bold;
}

.h4 {
  @apply text-[22px] font-bold;
}

.subtitle {
  @apply text-muted-foreground text-lg mb-8 font-light;
}

.section-title {
  @apply text-4xl text-primary font-bold relative w-max flex items-center justify-between gap-x-3;
}

.badge {
  @apply z-10 w-[250px] px-16 h-[90px] bg-primary dark:backdrop-blur-[44px] shadow-2xl p-4 rounded-full flex items-center gap-x-4;
}

.pablo {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
}
.pablo .capa-p,
.pablo .capa-ab,
.pablo .capa-l,
.pablo .capa-o,
.pablo .capa-h,
.pablo .capa-e,
.pablo .capa-n,
.pablo .capa-an,
.pablo .capa-de,
.pablo .capa-z {
  fill: none;
}

#p,
#ab,
#l,
#o,
#h,
#er,
#n,
#an,
#de,
#z {
  fill: var(--fill-name-logo);
}

.pablo .capa-p {
  stroke-dasharray: 800;
  stroke-dashoffset: 800;
  animation: effect-letter 0.5s var(--delayAnimation) linear forwards;
}
.pablo .capa-ab {
  stroke-dasharray: 255;
  stroke-dashoffset: 255;
  animation: effect-letter 0.4s calc(var(--delayAnimation) + 0.5s) linear
    forwards;
}
.pablo .capa-l {
  stroke-dasharray: 100;
  stroke-dashoffset: 100;
  animation: effect-letter 0.2s calc(var(--delayAnimation) + 0.9s) linear
    forwards;
}
.pablo .capa-o {
  stroke-dasharray: 65;
  stroke-dashoffset: 65;
  animation: effect-letter 0.2s calc(var(--delayAnimation) + 1.15s) linear
    forwards;
}
.pablo .capa-h {
  stroke-dasharray: 750;
  stroke-dashoffset: 750;
  animation: effect-letter 0.5s calc(var(--delayAnimation) + 1.35s) linear
    forwards;
}
.pablo .capa-e {
  stroke-dasharray: 140;
  stroke-dashoffset: 140;
  animation: effect-letter 0.3s calc(var(--delayAnimation) + 1.85s) linear
    forwards;
}
.pablo .capa-n {
  stroke-dasharray: 50;
  stroke-dashoffset: 50;
  animation: effect-letter 0.2s calc(var(--delayAnimation) + 2.15s) linear
    forwards;
}
.pablo .capa-an {
  stroke-dasharray: 100;
  stroke-dashoffset: 100;
  animation: effect-letter 0.3s calc(var(--delayAnimation) + 2.35s) linear
    forwards;
}
.pablo .capa-de {
  stroke-dasharray: 195;
  stroke-dashoffset: 195;
  animation: effect-letter 0.3s calc(var(--delayAnimation) + 2.65s) linear
    forwards;
}
.pablo .capa-z {
  stroke-dasharray: 120;
  stroke-dashoffset: 120;
  animation: effect-letter 0.2s calc(var(--delayAnimation) + 2.95s) linear
    forwards;
}

@keyframes effect-letter {
  to {
    stroke-dashoffset: 0;
  }
}

.tl_section {
}

.t_container {
  padding-top: 13rem;
}

.t_box {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  gap: 2rem;
}
.t_head {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  max-width: 50rem;
  padding: 0px 30px;
}

.t_tag {
}

.t_title {
}

.t_desc {
}

.slick-slider {
  margin-top: 2rem;
}

.slick-track {
  padding: 4rem 0rem;
}

.slick-slide > div {
  padding: 0 30px;
}

.slick-slide.slick-active.slick-current + .slick-slide .comment-section {
  transition: all 1000ms ease-in-out;
  scale: 1.1;
  transform: translateY(-30px);
}

.slick-dots {
  bottom: 0 !important;
}

.slick-dots li button:before {
  color: #3661ed !important;
}

/* .slick-next:before,
.slick-prev:before {
  color: #3661ED !important;
  font-size: 25px  !important;
} */

.comment-section {
  display: flex !important;
  align-items: flex-start;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem;
  box-sizing: border-box;
  border-radius: 20px;
  position: relative;
  transition: all 1000ms ease-in-out;
}

