@tailwind base;
@tailwind components;
@tailwind utilities;

@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 221.2 83.2% 53.3%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 221.2 83.2% 53.3%;
    --radius: 0.5rem;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;

    --fill-name-logo: #2662ec;
    --delayAnimation: 0.5s;

    --fillGit: #ffffff;
    --quantitySkills: 8;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    --primary: 217.2 91.2% 59.8%;
    --primary-foreground: 222.2 47.4% 11.2%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 224.3 76.3% 48%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;

    --fill-name-logo: #2662ec;

    --fillGit: #000000;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.h1 {
  @apply text-6xl xl:text-[72px] xl:leading-[80px] tracking-[2px] font-bold;
}

.h2 {
  @apply text-4xl font-bold;
}

.h3 {
  @apply text-3xl font-bold;
}

.h4 {
  @apply text-[22px] font-bold;
}

.subtitle {
  @apply text-muted-foreground text-lg mb-8 font-light;
}

.section-title {
  @apply text-4xl text-primary font-bold relative flex items-center justify-center gap-x-3;
}

.badge {
  @apply z-10 w-[250px] px-16 h-[90px] bg-primary dark:backdrop-blur-[44px] shadow-2xl p-4 rounded-full flex items-center justify-center gap-x-4;
}

.pablo {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
}
.pablo .capa-p,
.pablo .capa-ab,
.pablo .capa-l,
.pablo .capa-o,
.pablo .capa-h,
.pablo .capa-e,
.pablo .capa-n,
.pablo .capa-an,
.pablo .capa-de,
.pablo .capa-z {
  fill: none;
}

#p,
#ab,
#l,
#o,
#h,
#er,
#n,
#an,
#de,
#z {
  fill: var(--fill-name-logo);
}

.pablo .capa-p {
  stroke-dasharray: 800;
  stroke-dashoffset: 800;
  animation: effect-letter 0.5s var(--delayAnimation) linear forwards;
}
.pablo .capa-ab {
  stroke-dasharray: 255;
  stroke-dashoffset: 255;
  animation: effect-letter 0.4s calc(var(--delayAnimation) + 0.5s) linear
    forwards;
}
.pablo .capa-l {
  stroke-dasharray: 100;
  stroke-dashoffset: 100;
  animation: effect-letter 0.2s calc(var(--delayAnimation) + 0.9s) linear
    forwards;
}
.pablo .capa-o {
  stroke-dasharray: 65;
  stroke-dashoffset: 65;
  animation: effect-letter 0.2s calc(var(--delayAnimation) + 1.15s) linear
    forwards;
}
.pablo .capa-h {
  stroke-dasharray: 750;
  stroke-dashoffset: 750;
  animation: effect-letter 0.5s calc(var(--delayAnimation) + 1.35s) linear
    forwards;
}
.pablo .capa-e {
  stroke-dasharray: 140;
  stroke-dashoffset: 140;
  animation: effect-letter 0.3s calc(var(--delayAnimation) + 1.85s) linear
    forwards;
}
.pablo .capa-n {
  stroke-dasharray: 50;
  stroke-dashoffset: 50;
  animation: effect-letter 0.2s calc(var(--delayAnimation) + 2.15s) linear
    forwards;
}
.pablo .capa-an {
  stroke-dasharray: 100;
  stroke-dashoffset: 100;
  animation: effect-letter 0.3s calc(var(--delayAnimation) + 2.35s) linear
    forwards;
}
.pablo .capa-de {
  stroke-dasharray: 195;
  stroke-dashoffset: 195;
  animation: effect-letter 0.3s calc(var(--delayAnimation) + 2.65s) linear
    forwards;
}
.pablo .capa-z {
  stroke-dasharray: 120;
  stroke-dashoffset: 120;
  animation: effect-letter 0.2s calc(var(--delayAnimation) + 2.95s) linear
    forwards;
}

@keyframes effect-letter {
  to {
    stroke-dashoffset: 0;
  }
}

/* Slider */
.slick-slider {
  margin-top: 2rem;
}

.slick-track {
  padding: 4rem 0rem;
}

.slick-slide > div {
  padding: 0 30px;
}

.slick-slide.slick-active.slick-current + .slick-slide .comment-section {
  transition: all 1000ms ease-in-out;
  scale: 1.1;
  transform: translateY(-30px);
}

.slick-dots {
  bottom: 0 !important;
}

.slick-dots li button:before {
  color: #3661ed !important;
}

/* .slick-next:before,
.slick-prev:before {
  color: #3661ED !important;
  font-size: 25px  !important;
} */

.comment-section {
  display: flex !important;
  align-items: flex-start;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem;
  box-sizing: border-box;
  border-radius: 20px;
  position: relative;
  transition: all 1000ms ease-in-out;
}

.skills-list {
  position: relative;
  display: flex;
  width: 100%;
  min-width: calc(100px * var(--quantitySkills));
}

.skills-items-1 {
  position: absolute;
  width: 100px;
  margin: 20px 0px;
  height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  left: 105%;
  animation: autoSkills 50s linear infinite;
  animation-delay: calc((50s / var(--quantitySkills)) * (var(--position) - 1));
}

.skills-items-2 {
  position: absolute;
  width: 100px;
  margin: 20px 0px;
  height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  right: 100%;
  animation: autoSkillsReverse 50s linear infinite;
  animation-delay: calc((50s / var(--quantitySkills)) * (var(--position) - 1));
}

/* Stop animation on hover */
/* .container-skills-1:hover .skills-items-1 {
  animation-play-state: paused !important;
}

.container-skills-2:hover .skills-items-2 {
  animation-play-state: paused !important;
} */

@keyframes autoSkills {
  0% {
    left: 105%;
  }
  100% {
    left: calc(100px * -1);
  }
}

@keyframes autoSkillsReverse {
  0% {
    right: 100%;
  }
  100% {
    right: calc(100px * -1);
  }
}

.bubbly-button {
  position: relative;
}

.bubbly-button:active {
  transform: scale(0.96);
}
.bubbly-button::before,
.bubbly-button::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 150%;
  left: 50%;
  transform: translateX(-50%);
  background-repeat: no-repeat;
}

.bubbly-button:before,
.bubbly-button:after {
  position: absolute;
  content: "";
  display: block;
  width: 140%;
  height: 100%;
  left: 50%;
  transform: translateX(-50%);
  z-index: -1000;
  transition: all ease-in-out 0.5s;
  background-repeat: no-repeat;
}
.bubbly-button:before {
  display: none;
  top: -75%;
  background-image: radial-gradient(circle, #2662ec 20%, transparent 20%),
    radial-gradient(circle, transparent 20%, #2662ec 20%, transparent 30%),
    radial-gradient(circle, #2662ec 20%, transparent 20%),
    radial-gradient(circle, #2662ec 20%, transparent 20%),
    radial-gradient(circle, transparent 10%, #2662ec 15%, transparent 20%),
    radial-gradient(circle, #2662ec 20%, transparent 20%),
    radial-gradient(circle, #2662ec 20%, transparent 20%),
    radial-gradient(circle, #2662ec 20%, transparent 20%),
    radial-gradient(circle, #2662ec 20%, transparent 20%);
  background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%, 15% 15%,
    10% 10%, 18% 18%;
}
.bubbly-button:after {
  display: none;
  bottom: -75%;
  background-image: radial-gradient(circle, #2662ec 20%, transparent 20%),
    radial-gradient(circle, #2662ec 20%, transparent 20%),
    radial-gradient(circle, transparent 10%, #2662ec 15%, transparent 20%),
    radial-gradient(circle, #2662ec 20%, transparent 20%),
    radial-gradient(circle, #2662ec 20%, transparent 20%),
    radial-gradient(circle, #2662ec 20%, transparent 20%),
    radial-gradient(circle, #2662ec 20%, transparent 20%);
  background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 10% 10%, 20% 20%;
}
.bubbly-button:active {
  transform: scale(0.96);
}
.bubbly-button.animate:before {
  display: block;
  animation: topBubbles ease-in-out 0.75s forwards;
}
.bubbly-button.animate:after {
  display: block;
  animation: bottomBubbles ease-in-out 0.75s forwards;
}

@keyframes topBubbles {
  0% {
    background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%,
      40% 90%, 55% 90%, 70% 90%;
  }
  50% {
    background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%,
      50% 50%, 65% 20%, 90% 30%;
  }
  100% {
    background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%,
      50% 40%, 65% 10%, 90% 20%;
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
  }
}
@keyframes bottomBubbles {
  0% {
    background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%,
      70% -10%, 70% 0%;
  }
  50% {
    background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%,
      105% 0%;
  }
  100% {
    background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%,
      110% 10%;
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
  }
}
